# 모델 설계도

#### 1. 2017 ~ 2019년의 3년간의 자료가 있는 종목은 2549 종목

#### 2. 그 중에 3년치 데이터(733 obs)가 온전하게 있는 경우는 2324 종목

#### 3. Shift를 통하여 shitf_-5 ~ shift_-9의 X를 생성

#### 4. 그 종목들 중 10%에 대하여 Test로 분리

#### 5. 90%의 Train 데이터 중 다시 90 : 10 으로 Train과 Test를 랜덤으로 분리

#### 6. Random Forest 모형을 적용

#### 7. 10%의 Test 종목에 대하여 평균 RMSE 계산

In [6]:
# Data Loading
import pandas as pd
data = pd.read_csv("./data/df_final.csv")

# 필요한 칼럼 추출
data = data[["date", "open", "high", "low", "close", "code"]]

# Code 앞에 0 추가
data["code"] = data["code"].apply(lambda x : "{:0>6}" .format(x))

# Code type을 str로 변경
data["code"] = data["code"].apply(lambda x : str(x))

# 각 종목별 obs 개수
print("*"*22)
print("* 각 종목별 obs 개수 *")
print("*"*22)
print(data["code"].value_counts())

print("\n\n")

# 3년간의 데이터가 완전한 종목 코드
print("*"*42)
print("* 3년간 데이터가 완전한 종목 코드 733obs *")
print("*"*42)
FULL_DATA_CODE = data["code"].value_counts().index[0:2323]
print(FULL_DATA_CODE)

print("\n\n")

# 3년간의 데이터가 완전한 종목만 추출한 데이터
print("*"*48)
print("* 3년간의 데이터가 완전한 종목만 추출한 데이터 *")
print("*"*48)
data = data[data["code"].isin(FULL_DATA_CODE)]
print(data)

**********************
* 각 종목별 obs 개수 *
**********************
114810    733
000880    733
012610    733
149940    733
023770    733
         ...
287320    494
287300    494
287310    494
287330    494
269620    493
Name: code, Length: 2539, dtype: int64



******************************************
* 3년간 데이터가 완전한 종목 코드 733obs *
******************************************
Index(['114810', '000880', '012610', '149940', '023770', '036000', '097780',
       '227840', '000120', '035760',
       ...
       '086980', '065650', '060590', '038290', '078890', '005190', '006360',
       '060310', '047050', '156080'],
      dtype='object', length=2323)



************************************************
* 3년간의 데이터가 완전한 종목만 추출한 데이터 *
************************************************
               date   open   high    low  close    code
0        2017-01-02  79905  81585  79170  79800  012320
1        2017-01-03  80535  80535  79170  79800  012320
2        2017-01-04  80535  80955  76965  77175  012320
3        2017-01-05  77070  78855  75600  78225  012320
4        2017-01-06  78225  79800  77280  77385  012320
...             ...    ...    ...    ...    ...     ...
1759974  2019-12-23  14050  15000  13950  14300  215600
1759975  2019-12-24  14400  14400  13500  13650  215600
1759976  2019-12-26  13700  14050  13500  13900  215600
1759977  2019-12-27  13900  14300  13900  14050  215600
1759978  2019-12-30  14250  14750  14150  14550  215600

[1702759 rows x 6 columns]

In [ ]:
TEMP = pd.DataFrame()

for i in ["114810"] : 
    for obs in data.index : 
        if data.iloc[obs]["code"] == i : 
            TEMP = TEMP.append(data.iloc[obs])
            
            if len(TEMP) == 733 : 
                break

In [3]:
TEMP

       close     code        date     high      low     open
0    79800.0  12320.0  2017-01-02  81585.0  79170.0  79905.0
1    79800.0  12320.0  2017-01-03  80535.0  79170.0  80535.0
2    77175.0  12320.0  2017-01-04  80955.0  76965.0  80535.0
3    78225.0  12320.0  2017-01-05  78855.0  75600.0  77070.0
4    77385.0  12320.0  2017-01-06  79800.0  77280.0  78225.0
..       ...      ...         ...      ...      ...      ...
728  35900.0  12320.0  2019-12-23  36000.0  35400.0  35900.0
729  36200.0  12320.0  2019-12-24  36250.0  35800.0  35850.0
730  36100.0  12320.0  2019-12-26  36950.0  36100.0  36400.0
731  36450.0  12320.0  2019-12-27  36550.0  35950.0  36550.0
732  36650.0  12320.0  2019-12-30  36750.0  36000.0  36500.0

[733 rows x 6 columns]