In [7]:
# Library
import pandas as pd

# Data Loading
data = pd.read_csv("./data/rms_df.csv")

# 필요없는 column 제거
data = data[data.columns[1:]]

# Top 30
TOP_30_DATA = data.sort_values(by="percent of rms")[0:30]

# Bottom 30
BOTTOM_30_DATA = data.sort_values(by="percent of rms", ascending=False)[0:30]

# Merge Data
data = pd.read_csv("./data/df_final.csv")

# 필요없는 column 제거
data = data[data.columns[1:]]

# Date를 익덱스로 변경
data["date"] = pd.to_datetime(data["date"])
data = data.set_index("date")

# OHLC와 code 추출
data = data[["open", "high", "low", "close", "code"]]

# 종목 LIST
TOP_LIST = TOP_30_DATA["code_number"].values
BOTTOM_LIST = BOTTOM_30_DATA["code_number"].values

In [11]:
TOP_30_DATA.head()

     code_number         rms  percent of rms
6          34590  110.408510        0.369026
1         117580   49.046129        0.843753
408        18120  282.462841        0.896250
209        88980   94.092585        0.988145
202       132030   95.892830        0.993784

In [12]:
BOTTOM_30_DATA.head()

     code_number           rms  percent of rms
282        71970  19523.100748       58.848619
398         7390   2980.221970       24.430273
248       215090    569.442396       22.483639
86          8355   4235.389647       22.419857
50         44180    166.756003       20.816596

In [8]:
TOP_LIST

array([ 34590, 117580,  18120,  88980, 132030, 500016, 500006,  15350,
        17390,  24090,   4450,  78020, 137610,  98560,  15360,   6220,
       144600, 160580, 500017, 227560, 139310, 115310, 139270,  71320,
       138920, 227550, 500008, 138910, 500018,  36560], dtype=int64)

In [9]:
BOTTOM_LIST

array([ 71970,   7390, 215090,   8355,  44180,  74610, 239340,  41190,
          725,  12205,  19990,  25980,  44060, 225430, 182360, 100660,
         1470,   1260,  86250,   2995,  65620,  91590,  48470,  96350,
         8970,  26150, 220260,   1840,   4565,  25870], dtype=int64)

## TOP5
###    34590 : prophet 0.36% / LSTM : 8.69%
###  117580 : prophet 0.84% / LSTM : 3.42%
###   18120 :  prophet 0.89% / LSTM : 3.47%
###   88980 :  prophet 0.98% / LSTM : 2.78%
### 132030 :  prophet 0.99% / LSTM : 5.05%

## BOTTOM5
### 71970 : prophet 58.84% / LSTM : 2.12%
### 7390 : prophet 24.43% / LSTM : 2.32%
### 215090 : prophet 22.48% / LSTM : 2.47%
### 8355 : prophet 22.41% / LSTM : 10.57%
### 44180 : prophet 20.81% / LSTM : 3.017%  -> 거래중지 종목